@font-face {
  font-family: "Sans-Serif";
  src: url(Quicksand-Regular.otf);
}

body h1 p div {
  font-family: "Sans-Serif";
  src: url(Quicksand-Regular.otf);
}

ul.header li {
  list-style-type: none;
  /* margin: -3px; */
  font-size: 18px;
  /* color: #eef5fd; */
  /* text-decoration: none; */
  float: right;
  padding-top: -10px;
  margin-right: 44px;
}
.already{
  
color: #0c456e;
}
ul.header {
  padding: 21px;
  position: relative;
  width: 100%;
  max-width: calc(1128px + (16px * 2));
  padding-left: 16px;
  padding-right: 16px;
  margin: auto;
}

.wg {
  color: #0c456e;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.Welcome{
  text-align: center;
    /* margin: 12px; */
    margin-bottom:15px;
    opacity: .75;
    color: #ad4143;
}
.btn{
  color: #0c456e !important;
}
/*.row{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}*/
.icon {
  padding: 10px;
  background: #0c456e;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 8px;
  outline: none;
}

.input-field:focus {
  border: 2px solid #0c456e;
}
#new{
  border: 3rem solid #0c456e;
  border-radius: 71px;
  height: 39rem;

  
}
#first{
  margin-top: 82px;
  margin-left: 5rem;
  border: 1px solid #ad4143;
}

/* Set a style for the submit button */
.btn-signup {
  background-color: #0c456e;
  color: white;
  padding: 11px 21px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 8px;
}
.welcome{
  text-align: center;
}
.btn:hover {
  opacity: 1;}

.card{
  width: 24rem;
  height: 25rem;
  margin: 5rem;
  margin-top: 5rem;
  padding: 12px;
  }
#btn {
  float: right;
}

.logo2 {
  margin-top: 12rem;
}

.join {
  margin-left: 56rem;
  color: #0c456e;
}

.section3 {
  background-color: #efefef;
  height: 20rem;
  border-top: 3px solid #ad4143;
}

.heading1 {
  color: #0c456e;
  text-align: center;
  /* font-weight: bold; */
  margin-top: 45px;
}

.heading2 {
  color: #969696;
  text-align: center;
}

.heading3 {
  color: #969696;
  text-align: center;
}

.heading4 {
  color: #dc3545;
  /* float: right; */
  /* margin-bottom: 9rem; */
  position: absolute;
  margin-left: 40rem;
  font-size: 4rem;
  font-weight: bold;
  margin-top: -2rem;
}
.img{
  margin-left: 60px;
  margin-top: 50px;

}
.img-fluid {
  margin-top: 10rem;
}

.img2 {
  width: 70%;
  margin-top: -3rem;
  float: left;
  position: relative;
}

.img-cor {
  width: 100%;
  position: relative;
}

.section4 {
  /*background-image: url('/static/media/Homescreen2.a712f5db.png');*/
  margin-top: 9rem;
}

.main5 {
  background-color: #efefef;
  margin-top: 8rem;
}

.heading4-blue {
  /* float: right; */
  /* margin-bottom: 9rem; */
  position: absolute;
  margin-left: 49rem;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 9.5rem;
  color: #0c456e;
}

.heading6 {
  color: #dc3545;
  margin-top: 12rem;
  margin-left: 5rem;
  position: absolute;
  margin-left: 2rem;
  font-size: 3.5rem;
  font-weight: bold;
  margin-top: -38.5rem;
}

.heading7 {
  color: #0c456e;
  margin-top: 12rem;
  margin-left: 5rem;
  position: absolute;
  margin-left: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: -33.5rem;
}

.heading-corporate {
  color: #0c456e !important;
  font-weight: 800;
  float: left;
}

.heading5-p {
  color: #dc3545;
  position: absolute;
  margin-left: 50rem;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 4rem;
}

.heading5 {
  color: #0c456e;
  text-align: center;
  padding: 2rem;
  font-weight: bold;
  font-size: 52px;
}

.main6 {
  border-top: 1px solid #969696;
  margin-top: 4rem;
  margin-bottom: 15rem;
}

col li {
  list-style-type: none;
}

.ul2 {
  float: right;
}

.img3 {
  width: 33%;
  margin-left: 1rem;
  margin-top: 2rem;
}

.link-bold {
  font-size: small;
  font-weight: 400;
  color: gray;
}

.btn-color {
  background-color: #0c456e;
  padding: 10px;
  /* margin-left: 123px; */
  color: white;
  border-radius: 8px;
  width: 100%;
}

.circle-baharwala {
  position: relative;
}

.circle2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 7px;
  color: transparent;
  /* line-height: 539px; */
  background: #000000f0;
  margin-left: 11rem;
  /* margin-bottom: 9rem; */
  margin-top: -58px;
}

.text-sign {
  font-size: 12px;
  font-weight: 400;
}

.circle1 {
  margin-left: 9.5rem;
}

.signin-heading {
  text-align: center;
}

#layout {
  box-sizing: border-box;
  border: 2px solid #0c456e;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 25px;
}

#layout2 {
  box-sizing: border-box;
  border: 2px solid #0c456e;
  padding: 30px;
  border-radius: 10px;
}

.a-link {
  color: #0c456e;
  margin-left: 5rem;
  font-weight: bold;
}

.heading-bold {
  font-size: small;
  font-weight: 400;
}

.img-student {
  position: relative;
  width: 100%;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #0c456e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 360px;
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 5px; */
  margin-left: 30rem;
  margin-top: 7px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.heading8 {
  color: #dc3545;
  position: absolute;
  margin-left: 46rem;
  font-size: 4rem;
  font-weight: bold;
  margin-top: -38rem;
}

.heading9 {
  color: #0c456e;
  /* text-align: center; */
  /* padding: 2rem; */
  font-weight: bold;
  /* font-size: 52px; */
  position: absolute;
  margin-left: 46rem;
  margin-top: -33rem
}

.img123::after {
  content: "";
  width: 1px;
  height: 49px;
  background: #969696;
  position: absolute;
  top: 28%;
  right: 0px;
}

.img123 {
  position: relative;
  float: left;
  /* margin-right: 17px; */
  /* border-right: 1px solid gray; */
  margin-top: 5rem;
  padding: 9px;
}

.img_logo {
  width: 12rem;
  height: 6rem;
}

.main7 {
  /*background-image: url('./images/back_ground.png');*/
  position: relative;
  text-align: center;
  color: white;
  border-top: 1px solid gray;
  padding-top: 53px;
  /*background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
}

.img_purple {
  height: 15rem;
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 3rem;
  transform: translate(-50%, -50%);
}

.main8 {
  position: relative;
  color: #525151;
}

.img_main8 {
  height: 45rem;
  width: 100%;
}

.top-right {
  position: absolute;
  top: 15rem;
  right: 18rem;
}

.gc_tag {
  font-size: 3rem;
}

.logo-sign {
  width: 20%;
  margin-left: 33rem;
  margin-bottom: 18px;
}

.gc_tag2 {
  font-size: 25px;
}

.mid {
  font-size: 2.5rem;
  font-weight: 300;
  /* line-height: 1.2;*/
}

.last {}

.page-footer {
  background-color: #eef5fd;
  ;
}

.footer-list {
  background-color: transparent;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: auto;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-height: 50px;
  margin: 0 auto;
  width: 944px;
}

.li-item-text {
  display: flex;
  padding-top: 8px;
}

#dropdownMenuButton {
  color: #969696;
  line-height: 1;
  font-size: small;
  padding-left: 2px;
}

.li-item a {
  color: #969696;
}

.li-item {
  font-size: 12px;
  line-height: 2.2;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 8px;
}