
body{
    max-width:100%;
}

.msg-main {
    width: 18rem;
    height: 30rem;
    border-radius: 15px;
    border-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    background-color: #0c456e;
}

.msg-main2 {
    width: 18rem;
    height: 28rem;
    border-radius: 32px;
    border:none;
    position: absolute;
    margin-top: 2%;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.heading1 {
    color: white;
    text-align: center;
    font-size: 22px;
    padding-top: 5px;
}

.msg-icon {
    padding: 0px 15px 2px 27px;
    float: right;
}

.msg-main2 {
 
}

.form-control1{
    padding: 8px;
    width: 250px;
    height: 40px;
    border-radius: 31px;
    border-color: gray;
    background-color: #efefef;
    position: absolute;
}

.msg-search {
    margin: 5px;
    padding-left:;
}
.icon2{
    position: relative;
    left: 0;
}
.form{

}
.chat-sec{
    width: 50px;
    height: 50px;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.img-chat{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    /* padding: 1px; */
    margin: 22px 2px 2px 11px;
    float: left;
}

  
.container-2 {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 50px;
    /* padding: 10px; */
    margin: 28px 3px 10px 8px;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
 
  .container-2 img {
    float: left;
    max-width: 39px;
    /* width: 100%; */
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid gray;
    /* padding: 1px; */
    margin: 1px 5px 0px 0px;
  }
  
  .container-2 img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }
  .msg-right{
    width: 38rem;
    height: 6rem;
    border-radius: 15px;
    border-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    background-color: #ad4143;
    margin-left: 0px !important;
    margin-top: 59px;

  }
  .msg-right-inner{
    width: 39rem;
    height: 26rem;
    border-radius: 32px;
    border: none;
    position: absolute;
    margin-top: 3%;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);

  }
  #chat-right{
          /* margin-left: 0; */
    left: -54px;
}
  
.msg-heading{
    color: white;
    text-align: center;
    padding: 4px 0px 0px;
}
.msg-user{
    float:right;
    padding-right: 14px;
}
.msg-input{
    border-radius: 28px;
    width: 36rem;
    text-align: ce;
    padding: 14px 5px 3px 12px;
    margin-top: 20px;
    /* border: none; */
    /* border-color: gray; */
    margin-left: 23px;
    border: 1px solid gray;
}
.send-input{
    background-color: #efefef;
    margin: 0 auto;
    /* width: 10rem; */
    padding: 1.5rem;
    /* margin: 0rem; */
    margin-top: 17rem;
    max-width: 39rem;
}
.box1 {
    border: 1px solid #0c456e;
    border-radius: 20px;
    height: 14rem;
    /*width: 16rem;*/
    margin: 15px;
}
.enter-input{
    padding: 15px;
    width: 28rem;
    position: relative;
}
.camera{
    margin: 2px;
}
.icon-input{
    
}
